/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  max-width: 750px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.player__video {
  width: 100%;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player__controls > * {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  height: 5px;
  cursor: pointer;
}

.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 0%;
}

.player__button {
  background: none;
  border: 0;
  color: white;
  text-align: center;
  cursor: pointer;
  max-width: 50px;
}

.player__button:focus {
  outline: none;
}

.player__slider {
  width: 10px;
  height: 30px;
}